@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Palanquin+Dark:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 500;
}
body{
    background-color: #000000;
    min-height: 100vh;
    overflow-x: hidden;
}
.beam{
    width: 300px;
    position: absolute;
    top: 10%;
    left: -300px;
    justify-content: space-between;
    z-index: 0;
}
.beam img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 7px;
    animation: beam 8s linear infinite;
}
@keyframes beam{
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateX(300vh);
        opacity: 0;
    }
}
.beam img:nth-child(1){
    animation-delay: 1s;
}
.beam img:nth-child(2){
    animation-delay: 2s;
}
.beam img:nth-child(3){
    animation-delay: 3s;
}
.beam img:nth-child(4){
    animation-delay: 4s;
}
.beam img:nth-child(5){
    animation-delay: 5s;
}
.beam img:nth-child(6){
    animation-delay: 6s;
}
.beam img:nth-child(7){
    animation-delay: 7s;
}
.beam img:nth-child(8){
    animation-delay: 8s;
}
.beam img:nth-child(9){
    animation-delay: 9s;
}
.beam img:nth-child(10){
    animation-delay: 10s;
}
.beam img:nth-child(11){
    animation-delay: 11s;
}
.beam img:nth-child(12){
    animation-delay: 12s;
}
.beam img:nth-child(13){
    animation-delay: 13s;
}
.beam img:nth-child(14){
    animation-delay: 14s;
}
.beam img:nth-child(15){
    animation-delay: 15s;
}
.beam img:nth-child(16){
    animation-delay: 16s;
}
.beam img:nth-child(17){
    animation-delay: 17s;
}
.beam img:nth-child(18){
    animation-delay: 18s;
}
.beam img:nth-child(19){
    animation-delay: 19s;
}
.beam img:nth-child(20){
    animation-delay: 20s;
}
.beam img:nth-child(21){
    animation-delay: 21s;
}
.beam img:nth-child(22){
    animation-delay: 22s;
}
.beam img:nth-child(23){
    animation-delay: 23s;
}
.beam img:nth-child(24){
    animation-delay: 24s;
}

.cards {
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 2% 7.5%;
    display: flex;
    flex-wrap: wrap; /* Add this property to allow the cards to wrap to the next line */
    justify-content: space-around; /* Adjust this property based on your layout preferences */
    align-items: center;
    width: 100%;
    height: max-content;
}
.cards #back{
    height: 30px;
    width: auto;
}
.cards h2.heading{
    width: 100%;
    text-shadow: 0 0 10px #000;
    font-size: 2.5em;
    position: relative;
    text-align: left;
    margin-top: 0;
    z-index: 0;
    animation: left-flow-in 1s normal forwards;
}

@keyframes left-flow-in{
    0%{
        left: -10vh;
    }
    100%{
        left: 0;
    }
}
.card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid #000;
    border-radius: 8%;
    width: 300px;
    height: 300px;
    margin: 25px;
    padding: 1% 2%;
    background-color: #171717;
    text-align: left;
    transition: 0.5s;
    z-index: 2;
    animation: bottom-flow-in 1s normal forwards;
    overflow-y: hidden;
}
.card:hover{
    transform: scale(1.1) !important;
    transition: 0.5s;
}

@keyframes bottom-flow-in {
    0% {
        transform: translateY(10vh);
        opacity: 0;
        filter: blur(5px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}
.card img{
    position: relative;
    margin: 0 25%;
    width: 50%;
    height: auto;
}

#cover{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 40;
    background-color: #000;
    opacity: 50%;
    filter: blur(20px);
}
.popup{
    position: absolute;
    top: 5vh;
    left: 10vh;
    right: 10vh;
    z-index: 50;
    padding: 2% 7.5%;
    width: auto;
    height: auto;
    overflow-y: scroll;
    background-color: #171717;
    border-radius: 20px;
    display: none;
    flex-wrap: wrap; /* Add this property to allow the cards to wrap to the next line */
    justify-content: left; /* Adjust this property based on your layout preferences */
    align-items: center;
}
.popup.show{
    animation: bottom-flow-in 0.4s;
    display: flex;
}

.popup div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.popup img{
    width: 300px;
    height: 300px;
}
.popup img.cross{
    position: absolute;
    top: 5%;
    right: 3%;
    height: 20px;
    width: auto;
}
.popup h3.product-title{
    font-weight: 600;
}
.popup h4.product-description{
    font-weight: 400;
    font-size: 15px;
}

#preloader{
    background: #000 url(brands-graphics/preloader.gif) no-repeat center center;
    background-size: 7%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}





@media(max-width: 1024px) {
    .beam{
        width: 200px;
    }
    .card{
        width: 300px;
        height: 300px;
        padding: 2% 4%;
        margin: 1vh 1vh;
    }
    .cards h2.heading{
        font-size: 40px;
    }
    .cards #back{
        height: 30px;
    }

    .popup{
        top: 7vh;
        left: 7vh;
        right: 7vh;
        padding: 3%;
    }
    .popup #popup-product-image{
        width: 250px;
        height: 250px;
    }
    .popup img.cross{
        width: 20px;
        height: 20px;
        top: 4vh;
        right: 4vh;
    }
    .popup #popup-product-title{
        font-size: 30px;
    }
}






@media(max-width: 450px) {
    .beam{
        width: 150px;
    }
    .card{
        width: 300px;
        height: 300px;
        padding: 3% 7%;
    }
    .cards h2.heading{
        font-size: 30px;
    }
    .cards #back{
        height: 20px;
    }

    #cover{
        height: 100%;
    }
    .popup{
        top: 4vh;
        left: 4vh;
        right: 4vh;
        padding: 3%;
    }
    .popup #popup-product-image{
        width: 200px;
        height: 200px;
    }
    .popup img.cross{
        width: 17px;
        height: 17px;
        top: 2vh;
        right: 2vh;
    }
    .popup #popup-product-title{
        font-size: 22px;
    }
}